<launch>
    <arg name="type" default="gazebo"/> <!-- gazebo, jmavsim, none (only clover packages) -->
    <arg name="mav_id" default="0"/>
    <arg name="est" default="ekf2"/> <!-- PX4 estimator: lpe, ekf2 -->
    <arg name="vehicle" default="clover"/> <!-- PX4 vehicle configuration: clover, clover_vpe -->
    <arg name="main_camera" default="true"/> <!-- Simulated vision position estimation camera (optical flow, ArUco) -->
    <arg name="maintain_camera_rate" default="false"/> <!-- Slow simulation down to maintain camera rate -->
    <arg name="rangefinder" default="true"/> <!-- Simulated downward-facing rangefinder, vl53l1x-like -->
    <arg name="led" default="true"/> <!-- Simulated LED strip, ws281x-like -->
    <arg name="gps" default="false"/> <!--Simulated GPS module -->
    <arg name="use_clover_physics" default="false"/> <!-- Use inertial parameters from CAD models -->
    <arg name="gui" default="true"/> <!-- Run Gazebo with GUI -->


    <!-- PX4 instance -->
    <node name="sitl_$(arg mav_id)" pkg="px4" type="px4" output="screen" args="$(find px4)/ROMFS/px4fmu_common -s etc/init.d-posix/rcS -i $(arg mav_id)" unless="$(eval type == 'none')">
        <env name="PX4_SIM_MODEL" value="$(arg vehicle)"/>
        <env name="PX4_ESTIMATOR" value="$(arg est)"/>
        <env name="PX4_SIM_HOST_ADDR" value="192.168.77.2" />
    </node>

    <!-- Clover services -->
    <include file="$(find clover)/launch/clover.launch">
        <arg name="simulator" value="true"/>
        <arg name="fcu_conn" value="sitl"/>
        <arg name="fcu_ip" value="127.0.0.1"/>
        <arg name="gcs_bridge" value="udp-b"/>
        <arg name="web_video_server" default="false" if="$(eval type == 'jmavsim')"/>
        <arg name="main_camera" default="false" if="$(eval type == 'jmavsim')"/>
        <arg name="aruco" default="false" if="$(eval type == 'jmavsim')"/>
        <arg name="optical_flow" default="false" if="$(eval type == 'jmavsim')"/>
        <arg name="led" default="false" if="$(eval type == 'jmavsim')"/>
    </include>
</launch>
